@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
	height: 100vh;
	color: rgba(255,255,255,.75);
	font-family: 'Anonymous Pro', monospace;  
	background-color: rgb(25,25,25);  
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

a {
	text-decoration: none;
	font-weight: bolder;
	color: inherit;
}

.urls {
	opacity: 0;
	animation: fadein 2s 7s ease-in forwards;
	position: relative;
	top: 45%;  
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);    
}
@keyframes fadein { from { opacity: 0; } to { opacity: 1; } }

.typewriter {
	position: relative;
	top: 45%;  
	margin: 0 auto;
	border-right: 2px solid transparent;
	font-size: 6vw;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);    
}

/* Pure awesomeness */
.animation1 { animation: typewriter1 2s steps(22) 1s 1 normal both, blinkTextCursor 1s steps(22) 4 normal; }
@keyframes typewriter1 { from { width: 0; } to { width: 12em; } }

.animation2 { animation: typewriter2 1.45s steps(16) 4s 1 normal both, blinkTextCursor 1s steps(16) 4s 4 normal; }
@keyframes typewriter2 { from { width: 0; } to { width: 9.3em; } }

@keyframes blinkTextCursor {
	from { border-right-color: rgba(255, 255, 255, .75); }
	to { border-right-color: transparent; }
}
