:root {
    --fg: #1c1c1c;
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        124deg,
        #ff2400,
        #e81d1d,
        #e8b71d,
        #e3e81d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3
    );
    background-size: 1800% 1800%;
    animation: rainbow 18s ease infinite;
    color: var(--fg);
    font-family: monospace;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: var(--fg);
    text-decoration: none;
    opacity: 0;
    animation: fade 1s 1.5s ease-in forwards;
}

.main {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    margin: auto 8px;
}

.name {
    white-space: nowrap;
    font-size: 5vw;
}

.text_animation {
    animation: animation 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Dumb browser fixes */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/* Not again. */
.falling {
    position: absolute;
    opacity: 0;
    bottom: 200vh;
    max-width: 42vw;
    height: auto;
}

.petunia {
    margin-left: 12vw;
    animation: drop 7s 2s ease-in forwards infinite;
}

.whale {
    margin-left: 42vw;
    animation: drop 5s 8s ease-in forwards infinite;
}

/* Keyframes */
@keyframes animation {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes drop {
    from {
        opacity: 1;
        transform: translate(0, -100vh) rotate(0deg);
    }
    to {
        opacity: 1;
        transform: translate(0, 400vh) rotate(360deg);
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
