@font-face {
    font-family: 'Google Sans';
    src: url("../fonts/GoogleSans-Regular.ttf") format("truetype");
}

* {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    user-select: none;
}

html, body {
  height: 100%;
  width: 100%; }

a, a:visited, a:hover {
  color: #4183C4;
  font-weight: 600;
  text-decoration: none; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }
