html,
body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #282828;
  font-family: Comfortaa; }

.avatar {
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  animation: avatarAnimation 1.5s ease-out 0s 1 normal forwards; }

.introduction {
  opacity: 0;
  animation: introductionAnimation 2s ease-in 1.5s 1 normal forwards; }

.redButton {
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #EE534F;
  color: white;
  transition: all 1.5s;
  text-align: center; }

.redButton:hover {
  box-shadow: 0px 0px 15px -1px #c54844; }

.supportBtn {
  transition: all 1s; }
  .supportBtn.fa-bitcoin {
    color: #eff153; }
  .supportBtn.fa-paypal {
    color: #2d5cdd; }
  .supportBtn.fa-github {
    color: #767676; }

.supportBtn.fa-telegram {
    color: #0074af;
}

.supportBtn.fa-whatsapp {
    color: #347649;
}

svg.fa-instagram * {
  transition: all 1s;
  fill: url(#igGradient); }

svg.fa-instagram *:hover {
  fill: #EE534F; }

.supportBtn:hover {
  color: #EE534F; }

@keyframes avatarAnimation {
  from {
    width: 260px;
    height: 260px;
    opacity: 0;
    margin-top: -130px;
    margin-left: -130px; }
  to {
    width: 156.62651px;
    height: 156.62651px;
    opacity: 1;
    margin-top: -260px;
    margin-left: -78.31325px; } }

@keyframes introductionAnimation {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
