// Color vars
$avatarBackground: #EE534F;
$darkColor: #282828;
$textColor: white;
// General vars
$avatarSize: 250px;
$avatarSizeReduction: 1.6;
$avatarAnimationDuration: 1.5s;
$introductionAnimationDuration: 2s;