// Color vars
$avatarBackground: #EE534F;
$avatarBackgroundDarker: rgb(197, 72, 68);
$darkColor: #282828;
$linkColor: #4183C4;
$textColor: white;
// General vars
$avatarSize: 260px;
$avatarSizeReduction: 1.66;
$avatarAnimationDuration: 1.5s;
$introductionAnimationDuration: 2s;