.closeBtn {
    position: absolute;
    margin: 5vh;
    top: 0;
    right: 0;
    z-index: 5;
}

.closeBtn:hover {
    animation: fa-spin 2s infinite linear;
}

.projectOverlay {
    display: none;
}

.aboutOverlay {
    display: none;
}

.statisticsOverlay {
    display: none;
}

.overlayWrapper {
    height: 100%;
    width: 100%;
}

.overlayContent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}